<div class="fancy-row">
  <div class="panel-title buffer">
    <p class="lead">Sign Up for collabtag!</p>
    <hr>
  </div>
</div>
<div class="fancy-row">
  <div class="left-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'devise/shared/sign_up' %>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
