  <div class="fancy-row">
    <div class="col-md-6 col-md-offset-3">
      <div class="facebook-header">
        <span>Find your school with our list</span>
      </div>
    </div>
  </div>
  <div class="fancy-row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/school_search' %>
    </div>
  </div>
</div>
